* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

#root{
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
  gap: 10px;
  padding: 10px;
}

.header {
  background-color: #5c667f;
  height: 20vh;
  width: 100%;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 10px;
  width: 100%; 
}

.sidebar {
  background-color: #98acf8;
  flex: 1;
  min-width: 200px; 
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.large-box,
.medium-box {
  background-color: #98acf8;
  flex: 1;
  min-height: 250px;
  height: 100%;
  width: 100%;
}

.small-boxes {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.small-box {
  background-color: #98acf8;
  flex: 1;
  min-height: 100px;
  height: 100%;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    width: 100%;
  }
  
  .sidebar {
    width: 100%; 
    height: 15vh; 
  }

  .small-boxes {
    flex-direction: column;
  }
}
